.top-div {
    height: 500px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: rgb(68,68,68); 
}

.nav-bar {
    top: 2vh;
    width: 95.4%;
    height: 80px;
    display: flex;
    margin: -10px;
    margin-left: 1%;
    position: relative;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-color: rgb(237,108,82);
}

.nav-bar li {
    padding: 50px;
    list-style-type: none;
}

.nav-bar li a {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(68,68,68); 
}

.nav-bar li a:hover {
    color: black;
    font-size: 30px;
    text-decoration: none;
}